* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #000000;
    --default-color: #fafafa;
    --heading-color: #ffffff;
    --accent-color: #18d26e;
    --surface-color: #1a1a1a;
    --contrast-color: #000000;
    --lightbackground-color: #1a1a1a;
    --lightsurface-color: #343434;
    --darkbackground-color: rgba(15, 15, 15, 0.975);
}

:root {
    --nav-color: #fafafa;
    --nav-hover-color: #18d26e;
    --nav-mobile-background-color: #1a1a1a;
    --nav-dropdown-background-color: #1a1a1a;
    --nav-dropdown-color: #fafafa;
    --nav-dropdown-hover-color: #18d26e;
}

.light-background {
    --background-color: #1a1a1a;
    --surface-color: #343434;
}

.dark-background {
    --darkbackground-color: rgba(15, 15, 15, 0.975);
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #292929f9;
    --contrast-color: #000000;
}

:root {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
}
body {
    font-family: "Outfit", sans-serif;
    background-color: var(--lightbackground-color);
    color: var(--default-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    top: 0;
    background: transparent;
    transition: background 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    z-index: 10;
    padding: 0 1rem; 
}

header .logo {
    margin-left: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

header.scrolled {
    background: rgba(11, 11, 11, 0.8);
    border-bottom: 1px solid var(--heading-color);
}


.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 25px;
    cursor: pointer;
    z-index: 1000;
    margin-right: 1.2rem; }
.hamburger span {
    height: 3px;
    width: 100%;
    background: var(--default-color);
    transition: all 0.4s ease;
}
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--nav-mobile-background-color);
    padding: 15px 0;
    z-index: 999;
    border-top: 1px solid var(--default-color);
}
.links.active {
    display: block;
}
.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.links a {
    text-decoration: none;
    color: var(--default-color);
    font-size: 1.1rem;
}
.links a:hover {
    color: var(--nav-dropdown-hover-color);
    transition: 0.3s ease;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 1rem 2rem;
    text-align: center;
}
.intro h2 {
    font-size: 1.8rem;
}
.image img {
    max-width: 90%;
    height: auto;
    margin-top: 1rem;
    transform: scaleX(-1);
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

/* SOCIAL ICONS */
.social-links ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--contrast-color);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social-links li a img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}
.social-links li a:hover {
    background: var(--accent-color);
    transform: scale(1.1);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-color: var(--background-color);
    text-align: center;
    padding: 1rem;
}
footer .nameintro {
    text-align: center;
    margin: 1rem;
}

/* FOOTER ICONS */
.gettome ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.gettome li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--accent-color);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.gettome li a img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}
.gettome li a:hover {
    background: #555;
    transform: scale(1.1);
}
.copyright {
    border-top: 0.5px solid var(--default-color);
    padding: 1rem;
    width: 100%;
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    header {
        height: 100px;
        padding: 0 2rem;
    }
    header .logo {
        margin-left: 0;
        font-size: 1.5rem;
    }
    .hamburger {
        display: none;
    }
    .links {
        display: flex !important;
        position: static;
        background: none;
        border: none;
        box-shadow: none;
        width: auto;
    }
    .links ul {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        margin: 0;
    }
    main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 8rem auto 2rem;
        max-width: 1100px;
        padding: 0 2rem;
        gap: 2rem;
    }
    .intro {
        margin-top: 0;
        color: var(--default-color);
        font-size: 1.8rem;
        line-height: 1.4;
    }
    .image img {
        width: 350px;
        height: auto;
    }
}
